# Compiled class files
*.class

# Log files
*.log
*.out

# Package files
*.jar
*.war
*.ear

# IntelliJ IDEA-specific files
.idea/
.idea/*

# Optionally, ignore everything in .idea but keep workspace and libraries (uncomment if needed)
# !.idea/workspace.xml
# !.idea/libraries/

*.iml
*.iws

# Maven-specific files
target/

# Gradle-specific files
.gradle/
build/
!gradle-wrapper.jar

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# OS-specific files
.DS_Store
Thumbs.db

# Coverage and test result files
*.ec
*.coverage
*.lcov
reports/
test-results/
test-output/

# VSCode-specific files
.vscode/

# Other ignored files
*.classloader.*
*.hprof